html{
    scroll-behavior: smooth;
}
p{font-size: 1.3em}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    margin: 0px 30%;
}
main{
    display: flex;
    flex-direction: column;
}
main > div:nth-child(1) > div{
    font-weight: bold;
}
main > div:nth-child(3) > div{
    font-weight: bold;
}
main > div:nth-child(1) >p,main > div:nth-child(3) >p,main > div:nth-child(5) >p,main > div:nth-child(6) >p{
    font-family: 'Kanit',sans-serif;
}
main > div:nth-child(2) >p,main > div:nth-child(4) >p,main > div:nth-child(7) >p{
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 0.1em;
}
main > div:nth-child(5) >p{
    font-style: italic;
}
main > div:nth-child(6) >div{
    font-weight: bolder;
}
.underline{text-decoration: underline;}